<section class="thirteen columns">
    <h1>Education</h1>
    <article>
	
	    <header>
            <h1>Big Data Analytics - Specialisation studies </h1>
            <span>Arcada University of Applied Sciences</span>
            <span><address>Helsinki, Finland</address><time>2019 to present</time></span>
        </header>
        <header>
            <h1>MSc in Computer Vision and Pattern Recognition </h1>
            <span>LUT University</span>
            <span><address>Lappeenranta, Finland</address><time>2017 to 2019</time></span>
        </header>
        <p>
            <em>Thesis: Unsupervised anomaly detection on the wood surface using  autoencoder.</em>
        </p>
    
        <header>
            <h1>Major in Computer Science</h1>
            <span>Ahsanullah University of Science and Technology</span>
            <span><address>Dhaka, Bangladesh</address><time>2011 to 2015</time></span>
        </header>
        
    </article>
</section>
