<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Junior Machine Learning Engineer</h1>
            <span><address>Integrify, Finland</address><time>2020 to Present</time></span>
        </header>
        <p>Currently completing an intensive 6-month-long training program in Machine Learning at Integrify. 
		   Working with Python, Scikit-learn, and TensorFlow among others to tackle real-life challenges. 
		   Interested? See the full curriculum on integrify.io </p>
    </article>
    <article>
        <header>
            <h1>IT Officer </h1>
            <span><address>Platinum Group Ltd. Bangladesh</address><time>2016 to 2017</time></span>
        </header>
        <p>  Oversaw the company’s IT infrastructure, maintained the IT network and supervised the company’s intranet and LAN, 
		       IT hardware troubleshooting, analyze data and create monthly salary reports, visualization graphs and charts,
			   Server – side analysis.</p>
    </article>
    <article>
        <header>
            <h1> IT Officer (Trainee) </h1>
            <span><address>Mutual Trust Bank Ltd. Bangladesh</address><time>Jan 2016 to Mar 2016</time></span>
        </header>
        <p>  Assist with troubleshooting issues and provide technical support, Lend IT support in areas such as cybersecurity, programming, 
		         analytics, and data center management.</p>
    </article>
    <article>
        <header>
            <h1>Master Thesis Worker</h1>
            <span><address> LUT University, Lappeenranta</address><time>Feb 2019 to Oct 2019</time></span>
        </header>
        <p>The purpose of the work was to develop a system which is capable detecting anomaly defects of sawn timber using Auto-encoder.</p>
    </article>
    
</section>
