<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chowdhury Ashek Bin Helal's Resume</title>
    <meta name="description" content="Chowdhury Ashek Bin Helal's Résumé">
    <meta name="author" content="Chowdhury Ashek Bin Helal @">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/ashekchowdhury/static/css/base.css">
    <link rel="stylesheet" href="/ashekchowdhury/static/css/skeleton.css">
    <link rel="stylesheet" href="/ashekchowdhury/static/css/layout.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/ashekchowdhury/static/img/favicon.ico">
    <!-- <link rel="apple-touch-icon" href="static/img/me-icon-57.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="static/img/me-icon-72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="static/img/me-icon-114.png"> -->
</head>
<body>
<div class="container">
    <header class="three columns">
        <img src="/ashekchowdhury/static\img\profile.JPG" class="me">
        <h1>Chowdhury Ashek Bin Helal</h1>
        <p>
            <a href="tel:+358413688612">358413688612</a>
        </p>
        <address>
            <a href="">
                Maunulanmaki 1F<br/>
                00630<br/>
                Helsinki<br/>
                Finland
            </a>
        </address>
        <p>
            <a href=""></a><br/>
        </p>
        <p>
            <a href="mailto:ashek.himu@gmail.com">ashek.himu@gmail.com</a><br/>
            <a href="https://github.com/ashekchowdhury"><i class="fa fa-github"></i> Github</a> /
            <a href="https://linkedin.com/in/chowdhury-ashek-bin-helal-611010136/"><i class="fa fa-linkedin"></i> Linkedin</a>
        </p>
    </header>
    <div class="thirteen columns clearfix">

        <section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Junior Machine Learning Engineer</h1>
            <span><address>Integrify, Finland</address><time>2020 to Present</time></span>
        </header>
        <p>Currently completing an intensive 6-month-long training program in Machine Learning at Integrify. 
		   Working with Python, Scikit-learn, and TensorFlow among others to tackle real-life challenges. 
		   Interested? See the full curriculum on integrify.io </p>
    </article>
    <article>
        <header>
            <h1>IT Officer </h1>
            <span><address>Platinum Group Ltd. Bangladesh</address><time>2016 to 2017</time></span>
        </header>
        <p>  Oversaw the company’s IT infrastructure, maintained the IT network and supervised the company’s intranet and LAN, 
		       IT hardware troubleshooting, analyze data and create monthly salary reports, visualization graphs and charts,
			   Server – side analysis.</p>
    </article>
    <article>
        <header>
            <h1> IT Officer (Trainee) </h1>
            <span><address>Mutual Trust Bank Ltd. Bangladesh</address><time>Jan 2016 to Mar 2016</time></span>
        </header>
        <p>  Assist with troubleshooting issues and provide technical support, Lend IT support in areas such as cybersecurity, programming, 
		         analytics, and data center management.</p>
    </article>
    <article>
        <header>
            <h1>Master Thesis Worker</h1>
            <span><address> LUT University, Lappeenranta</address><time>Feb 2019 to Oct 2019</time></span>
        </header>
        <p>The purpose of the work was to develop a system which is capable detecting anomaly defects of sawn timber using Auto-encoder.</p>
    </article>
    
</section>


<section class="thirteen columns">
    <h1>Education</h1>
    <article>
	
	    <header>
            <h1>Big Data Analytics - Specialisation studies </h1>
            <span>Arcada University of Applied Sciences</span>
            <span><address>Helsinki, Finland</address><time>2019 to present</time></span>
        </header>
        <header>
            <h1>MSc in Computer Vision and Pattern Recognition </h1>
            <span>LUT University</span>
            <span><address>Lappeenranta, Finland</address><time>2017 to 2019</time></span>
        </header>
        <p>
            <em>Thesis: Unsupervised anomaly detection on the wood surface using  autoencoder.</em>
        </p>
    
        <header>
            <h1>Major in Computer Science</h1>
            <span>Ahsanullah University of Science and Technology</span>
            <span><address>Dhaka, Bangladesh</address><time>2011 to 2015</time></span>
        </header>
        
    </article>
</section>


<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Python </em><em> Matlab</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em>, <em>Microsoft BI</em>, <em>PHP</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>C/C++</em>
        </p>
    </article>
</section>

<section class="thirteen columns">
    <h1>Initiatives</h1>
    
    <article>
        <header>
            <h1>Student Volunteer - Tutor</h1>
            <span><address>LUT University, Lappeenranta</address><time>2018</time></span>
        </header>
        <p>
            Tutoring the new students.
        </p>
    </article>
</section>

<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <p>Music, Movies, Tennis, Travelling, Cooking.</p>
    </article>
</section>


    <footer class="thirteen columns">
        <p>© All rights reserved. Powered by <a href="http://jekyllrb.com/">Jekyll</a> and
            <a href="https://www.github.com/jekyller/vitae">vitae</a> with ♥</p>
    </footer>
    </div>
</div>
<a href="https://github.com/jekyller/vitae">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
         alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
